.digitGroup {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-bottom: 20px;
}

.digitGroup input {
	outline: 0 !important;
	user-select: none !important;
	width: 50px;
	height: 50px;
	background-color: #C5DBF5;
	font-weight: bold !important;
	border-radius: 5px;
	border: none;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	color: #001E9A;
	margin: 0;
}

.digitGroup input:focus {
	border: 2px solid #001E9A !important;
}

.digitGroup input:active {
	border: 2px solid #001E9A !important;
}

.digitGroup .splitter {
	padding: 5px 0;
	color: rgb(0, 0, 0);
	font-size: 25px;
	margin: 0;
}

.prompt {
	margin-bottom: 20px;
	font-size: 20px;
	color: white;
}

.formSection {
	max-width: 500px;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0px 0px 8px #ddd;
	padding: 20px;
}

.w-100 {
	width: 100%;
}

.app{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btnGroup{
  text-align: center;
}

form{
  padding: 20px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
}

h2{
  text-align: center;
}

button {
  color: #ffffff;
  background-color: #2d63c8;
  font-size: 19px;
  border: 1px solid #2d63c8;
  border-radius: 5px;
  padding: 15px 50px;
  cursor: pointer
}
button:hover {
  color: #2d63c8;
  background-color: #ffffff;
}
/* Media query for mobile devices */
@media (max-width: 480px) {
	.digitGroup {
		gap: 5px !important;
	}

	.digitGroup input {
		width: 40px !important;
	}

	.digitGroup .splitter {
		font-size: 25px !important;
	}
}